.ReactModal__Overlay {
  &.modal {
    display: initial !important;
    background: var(--color-overlay-0-6);
    &.fade {
      opacity: 0;
      transition: opacity 200ms ease-in-out;
      &.ReactModal__Overlay--after-open {
        opacity: 1;
      }
      &.ReactModal__Overlay--before-close {
        opacity: 0;
      }
    }
  }
}
