.table-wrapper {
  overflow: auto hidden;
  margin-top: 1.25rem;
}

.table {
  --bs-table-color: var(--color-contentPrimary);
  --bs-table-bg: var(--color-bgSecondary);
  --bs-border-width: 0;
  --border-r: 0.375rem;
  font-size: 1rem;
  border-collapse: collapse;
  margin: 0;
  padding: 0;

  // th, td
  & > :not(caption) > *:not(.empty-row) > * {
    padding: 1.125rem 1.5rem;
    color: var(--color-contentQuaternary);
    vertical-align: middle;
    &:first-child {
      border-top-left-radius: var(--border-r);
      border-bottom-left-radius: var(--border-r);
    }
    &:last-child {
      border-top-right-radius: var(--border-r);
      border-bottom-right-radius: var(--border-r);
    }
    &.text-game-red {
      color: var(--color-game-red);
    }
    &.text-game-green {
      color: var(--color-game-green);
    }
    &.text-game-blue {
      color: var(--color-game-blue);
    }
    &.text-game-yellow {
      color: var(--color-game-yellow);
    }
  }

  // th
  & > :not(caption) > tr > th {
    font-weight: 700;
  }

  //td
  & > :not(caption) > tr > td {
    &:not(:first-child) {
      color: var(--color-contentPrimary);
      font-weight: 400;
    }
  }

  // hack: make gap each row
  tr.empty-row {
    opacity: 0;
    visibility: hidden;
    user-select: none;
    max-height: 13px;
    & > th {
      border: none;
      padding-top: 0.3125rem;
    }
  }
}

.table.table-loading {
  .animated-background {
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-name: placeHolderShimmer;
    animation-timing-function: linear;
    background: var(--bs-table-bg);
    background: linear-gradient(
      to right,
      var(--bs-table-bg),
      rgba(255, 255, 255, 0.15),
      var(--bs-table-bg)
    );
    background-size: 180vw 104px;
    height: 70px;
    position: relative;
    border-radius: var(--border-r);
  }
}
